@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;1,100&display=swap');
body {
    /* font-family: "roboto"; */
    display: flex;
    min-height: 100vh; /* Rozciąga całe body na wysokość ekranu, na którym się ogląda */
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}
/* Usunięcie wszystkich bulletów z ul i dekoracji tekstu z linków */
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
a {
    text-decoration: none;
    color: white;
}

.header, .section1, .section2, .section3, .section4, .footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 200px;
    margin: 0;
}
.header, .section1, .footer {
    background-color: #1F2937;
    color: #F9FaF8;
}
.header {
    height: 70px;
    font-size: 24px;
    padding-bottom: 50px;
}

.header ul {
    font-size: 16px;
    display: flex;
    gap: 20px;
}
.section1, .section2, .section3, .section4 {
    flex: 1; /* Bez tego konkretne sekcje nie zajmują całej dostępnej powierzchni na body*/
}
.section3 {
    background-color: #E5E7EB;
}

.section1 {
    align-items: stretch;
    padding-bottom: 100px;
    gap: 20px;
}
.section1 .content {
    display: flex;
    flex-direction: column;
    font-size: 48px;
    font-weight: 900;
    color: #F9FaF8;
    align-items: flex-start; /* Rozciąganie się przycisku Sign Up */
}
.section1 .text {
    font-size: 18px;
    font-weight: 500;
}
.section1 .img {
    flex-shrink: 0;
    text-align: center;
    background-color: gray;
    width: 300px;
    padding: 90px;
}

.signup {
    color: white;
    font-weight: 700;
    font-size: 16px;; 
    border: none;
    border-radius: 8px;
    background-color: #3882F6;
    padding: 7px 25px;
    margin-top: 10px;
}

.section2 {
    flex-direction: column;
    align-items: center;
}
.section2 .content {
    margin: 30px;
    font-size: 34px;
    font-weight: 800;
    color: #1f2937;
}

.boxes {
    margin-bottom: 50px;
    display: flex;
    gap: 60px;
}
.imgtxt {
    width: 110px;
    display: flex;
    flex-direction: column;
    text-align:justify;
    color: gray;
}
.box {
    height: 110px;
    width: 110px;
    border-style: solid;
    border-width: 4px;
    border-radius: 10px;
    border-color: #3882F6;
}

.section3 {
    justify-content: center;
    padding: 50px;
}
.section3 .content {
    display: flex;
    flex-direction: column;
    width: 650px;
    text-align: justify;
    gap: 20px;
}


.section3 .quote {
    display: flex;
    font-size: 36px;
    font-style: italic;
    align-self: flex-end;
}

.section3 .author {
    align-self: flex-end;
    font-size: 21px;
    font-weight: 700;
}

.section4 {
    justify-content: center;
    padding: 50px 200px;
}
.bluebox {
    display: flex;
    justify-content: space-around;
    flex-grow: 1;
    padding: 40px;
    border-radius: 10px;
    color: #F9FaF8;
    background-color: #3882F6;
}
.invitation1 {
    font-size: 24px;
    font-weight: 700;
}

.invitation2 {
    font-size: 16px;
}

.signup2 {
    color: white;
    font-weight: 700;
    font-size: 16px;; 
    border: solid;
    border-width: 2px;
    border-radius: 8px;
    background-color: #3882F6;
    padding: 7px 25px;
}

.footer {
    justify-content: center;
    padding: 40px;
    font-size: 18px;
}